<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MyApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/layoutK/css/style.css" />
    <link rel="stylesheet" href="~/layoutK/lib/owlcarousel/assets/owl.carousel.min.css" />

    <style>
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000; /* Đảm bảo thanh điều hướng hiển thị trên tất cả các phần tử khác */
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            
        }
    </style>

</head>

<body>
    <div class="container-fluid p-0"></div>
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="/" class="navbar-brand ml-lg-3 d-flex align-items-center">
                <img src="@Url.Content("~/Image/logo.jpg")" alt="Logo ABC" style="height:48px;width:auto;margin-right:12px;border-radius:8px;box-shadow:0 2px 8px rgba(40,120,235,0.10);background:#fff;padding:2px;">
                <span class="m-0 text-uppercase text-primary" style="font-size:2rem;font-weight:700;letter-spacing:1px;">Công ty xây dựng ABC</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end px-lg-3" id="navbarCollapse">  
                <a href="@Url.Action("Index", "Login")" class="btn btn-primary py-2 px-4 ml-auto" style="font-weight:600;">Đăng nhập</a>
            </div>
        </nav>
    </div>

    
    <div class="container body-content" style="margin-top: 100px">
        @RenderBody()
    <hr />
    </div>

    <!-- Footer Start -->
    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="/" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white"><i class="fa fa-building mr-3"></i>ABC</h1>
                    </a>
                    <p class="m-0">
                        Công ty xây dựng ABC là đơn vị hàng đầu trong lĩnh vực xây dựng dân dụng và công nghiệp, cam kết mang đến các công trình chất lượng, bền vững và sáng tạo cho khách hàng.
                    </p>
                </div>
                <div class="col-md-6 mb-5">
                    <h3 class="text-white mb-4">Đăng ký nhận tin</h3>
                    <div class="w-100">
                        <div class="input-group">
                            <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Địa chỉ email">
                            <div class="input-group-append">
                                <button class="btn btn-primary px-4">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Liên lạc</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>456, Quận 1, TP.HCM</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+84 28 1234 5678</p>
                    <p><i class="fa fa-envelope mr-2"></i>info@abcxaydung.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-facebook-f"></i></a>
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-linkedin-in"></i></a>
                        <a class="text-white" href="#"><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Giới thiệu</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Về chúng tôi</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Dịch vụ</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Dự án tiêu biểu</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tầm nhìn & Sứ mệnh</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Truy cập nhanh</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách bảo mật</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Trợ giúp & Hỗ trợ</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Câu hỏi thường gặp</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>