@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <p class="h3" style="text-align:center;margin-top: 5px;color:red">QUẢN LÝ NHÀ CUNG CẤP</p>
        </div>
    </div>
</div>