@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my website</h1>
    <p>Hello word ! this is time to learn @DateTime.Now</p>
    <p>Học .net</p>
    <p>Học .net core</p>
    dạhdkasjhdjashdkjahsdkjhasdkjhaskdhkj
</div>
